*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.h2.db
.idea
*.iml
libs/*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

plsql/src/test/resources/test_sysdba.properties
plsql/src/test/resources/test_schema.properties

*.iml

doc/build/*

.idea

target

dependency-redu*

*report.html